/71_task_management/nbproject/private/
/71_task_management/build/
/71/nbproject/private/
/71/build/
/Candidate-Management/nbproject/private/
/Candidate-Management/build/
/71TaskManagement/nbproject/private/
/71TaskManagement_NEW/nbproject/private/
/71_task_management/dist/
/71TaskManagement_NEW/build/
/a71/nbproject/private/
/a71/build/
/J1.S.P0071_Task_Managerment/nbproject/private/
